services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: atropa-aura-bot
    ports:
      - "3008:3008"
    restart: always
    environment:
      - TZ=America/Sao_Paulo
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
